<ul>
  <% if user_signed_in? %>
    <li><%= link_to "My Profile", edit_user_registration_path%> </li>
    <li><%= link_to "Exit", destroy_user_session_path, :method => :DELETE %> </li>
  <% else %>
    <li><%= link_to "Registration", new_user_registration_path%> </li>
    <li><%= link_to "Enter", new_user_session_path%> </li>
  <% end %>
</ul>   
