<center>
  <p>Task-manager/organizer v. 0.0.2</p>
  <h1><%= link_to "Daybook", controller: "tasks" %></h1>
    <% if user_signed_in? %>
      <span>Hi, <%= current_user.email %></span>
      <%= link_to 'Exit', destroy_user_session_path, :method => :DELETE %>
    <% else %>
  <p>Enter or register please</p>
</center>
<% end %>
