<p>Task-manager/organizer by G-man&Bush v. 0.0.2</p>
<h1><%= link_to "Менеджер задач", controller: "tasks" %></h1>
<% if user_signed_in? %>
    <span>Здравствуйте, <%= current_user.email %></span>
    <%= link_to 'Выйти', destroy_user_session_path, :method => :DELETE %>
<% else %>
    <p>Войдите или зарегистрируйтесь</p>
<% end %>
