<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>Organizer</title>
=======
  <title>TaskManager</title>
>>>>>>> 1f1db5b1b82a0d0e1ce7051a99a4b8e350be6cd8
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
